<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paabooking"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.paabooking.LoginActivity"
            android:screenOrientation="portrait"
  			android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.paabooking.BookingActivity"
            android:screenOrientation="portrait"
   			android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_booking" >
        </activity>
        <activity
            android:name="com.example.paabooking.BookingDaySlotsActivity"
            android:screenOrientation="portrait"
  			android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_booking_day_slots" >
        </activity>
        
        <service android:name="com.example.paabooking.NotificationService" >
        </service>
        
        <service
            android:name="com.example.paabooking.AppointmentService"
            android:exported="false"
            android:process=":remote">
        </service>
        
        <service
            android:name=".FirebaseBackgroundService"
            android:exported="false"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.example.paabooking.FirebaseBackgroundService" />
            </intent-filter>
        </service>
    </application>

</manifest>
